@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');
.App {
  text-align: center;
  font-family: 'Gochi Hand', cursive;
}


.garden{
  width: 100vw;
  height: 100vh;
  background-image: url("./images/garden.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.container{
  display: flex;
  width: 90vw;
  height: 90vh;
  align-items: center;
  justify-content: flex-end;
  margin: 0 auto;
}
.modal{
  margin-right: 3em;
}
.buttons{
  display: flex;
  flex-direction: column;
  border-radius: 30px; 
  padding: 1em; 
}

.sky{
  width: 100vw; 
  height: 100vh;
  /* background-color: #87BDFF; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./images/clouds.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.modalShape{
  display:flex;
  align-content: center;
  justify-content: center;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 30px;
  padding: 2em 4em;
  max-width: fit-content;
}

section {
  /* /* margin: 0 auto;
  max-width: 70vw; */
  width: 100vw; 
}

.resources{
  display: flex;
  align-items: center;
  margin: 1em 0 2em auto;
}
.grid{
  display: grid;

}
.textContainer{
  display: flex;
  margin: 0 auto;
  background-color: #7C60B1;
  border-radius: 30px;
  width: 755px;
  height: 138px;
}
.textContainer p {
  align-self: center;
  margin: auto 1em;
}
.textContainer a {
  align-self: center;
  margin: auto 1em;
}
.resourcImg{
  margin-right: 2em;
  margin-top: 1em;
}

.mood_modal-container{
  border: 5px solid red;
  margin: 0 auto;
  width: 73.75rem;
  height: 31.25rem;
}

.modalGrateful{
  display:flex;
  align-content: center;
  justify-content: center;
  margin: 0 auto;
  background-color: #7C60B1;
  border-radius: 30px;
  padding: 4em 4em;
}
.modalGrateful h2{
  margin-top: 0;
}
.buttonsGrateful > button {
  padding: 0.5em;
  border-radius: 55px;
  font-family: 'Gochi Hand', cursive;
  font-size: 2em;
}

.buttonsGrateful{
  display: flex;
}

